Data/servers.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:simpleType name="ActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="post" />
            <xs:enumeration value="get" />
            <xs:enumeration value="upload" />
            <xs:enumeration value="login" />
            <xs:enumeration value="openurl" />     
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Bool">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthorizeType">
        <xs:restriction base="xs:byte">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ServerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="file" />
            <xs:enumeration value="image" />
            <xs:enumeration value="urlshortening" />
            <xs:enumeration value="searchbyimage" />
            <xs:enumeration value="video" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ServerTypes">
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="file"/>
                            <xs:enumeration value="image"/>
                            <xs:enumeration value="urlshortening"/>
                            <xs:enumeration value="video"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DefaultForTypes">
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="file"/>
                            <xs:enumeration value="image"/>
                            <xs:enumeration value="urlshortening"/>
                            <xs:enumeration value="searchbyimage"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssignVarsType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-z0-9_]+:\d+)*(;[A-z0-9_]+:\d+)*;?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MinVersionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+\.\d+\.\d+(\.\d+)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CustomHeadersType">
        <xs:restriction base="xs:string">
            <!--<xs:pattern value="[A-z0-9_]+:(;[A-z0-9_]+:.+?)*;?"/>--> <!-- TODO: write correct regexp -->
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Servers">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="Server" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all> 
                            <xs:element name="Info" minOccurs="0">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="SupportedFormats" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="FormatGroup" maxOccurs="unbounded" minOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                                <xs:element name="Format" maxOccurs="unbounded" minOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:integer" name="MaxFileSize" use="optional"/>
                                                                                <xs:attribute type="xs:string" name="MimeType" use="optional"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:integer" name="MaxFileSize" use="optional"/>
                                                            <xs:attribute type="xs:string" name="UserTypes" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="StorageTimeInfo" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="StorageTime" maxOccurs="unbounded" minOccurs="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:integer">
                                                                    <xs:attribute type="xs:integer" name="MaxFileSize" use="optional"/>
                                                                    <xs:attribute type="xs:string" name="UserTypes" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>        
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ForbiddenFormats" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="FormatGroup" maxOccurs="unbounded" minOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                                <xs:element name="Format" maxOccurs="unbounded" minOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:integer" name="MaxFileSize" use="optional"/>
                                                                                <xs:attribute type="xs:string" name="MimeType" use="optional"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:integer" name="MaxFileSize" use="optional"/>
                                                            <xs:attribute type="xs:string" name="UserTypes" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>    
                            </xs:element>
                            <xs:element name="Actions" minOccurs="0">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element name="Action" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:choice maxOccurs="unbounded">
                                                    <xs:element name="RegExp" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="Pattern"
                                                                                  use="required"/>
                                                                    <xs:attribute type="xs:string" name="Data"
                                                                                  use="optional"/>
                                                                    <xs:attribute type="AssignVarsType" name="AssignVars"
                                                                                  use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="Required"
                                                                                  use="optional" default="1"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Call" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="Function"
                                                                                  use="required"/>
                                                                    <xs:attribute type="xs:string" name="Arg1"
                                                                                  use="optional"/>
                                                                    <xs:attribute type="AssignVarsType" name="AssignVars"
                                                                                  use="optional"/>
                                                                    <xs:attribute type="xs:byte" name="Required"
                                                                                  use="optional" default="1"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                                <xs:attribute type="ActionType" name="Type" use="optional"/>
                                                <xs:attribute type="xs:string" name="Url" use="optional"/>
                                                <xs:attribute type="xs:string" name="PostParams" use="optional"/>
                                                <xs:attribute type="Bool" name="OnlyOnce" use="optional"/>
                                                <xs:attribute type="xs:string" name="RegExp" use="optional"/>
                                                <xs:attribute type="xs:string" name="AssignVars" use="optional"/>
                                                <xs:attribute type="xs:anyURI" name="Referer" use="optional"/>
                                                <xs:attribute type="CustomHeadersType" name="CustomHeaders" use="optional"/>
                                                <xs:attribute type="xs:string" name="Description" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Result" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="ImageUrlTemplate" use="optional"/>
                                            <xs:attribute type="xs:string" name="ThumbUrlTemplate" use="optional"/>
                                            <xs:attribute type="xs:string" name="DeleteUrl" use="optional"/>
                                            <xs:attribute type="xs:string" name="DownloadUrlTemplate" use="optional"/>
                                            <xs:attribute type="xs:string" name="DownloadUrl" use="optional"/>
                                            <xs:attribute type="xs:string" name="DirectUrlTemplate" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute type="xs:string" name="Name" use="required"/>
                        <xs:attribute type="xs:positiveInteger" name="MaxFileSize" use="optional"/>
                        <xs:attribute type="Bool" name="Debug" use="optional"/>
                        <xs:attribute type="AuthorizeType" name="Authorize" use="optional"/>
                        <xs:attribute type="xs:string" name="Plugin" use="optional"/>
                        <xs:attribute type="xs:positiveInteger" name="MaxThreads" use="optional"/>
                        <xs:attribute type="Bool" name="NeedPassword" use="optional"/>
                        <xs:attribute type="Bool" name="SupportsFolders" use="optional"/>
                        <xs:attribute type="xs:anyURI" name="RegistrationUrl" use="optional"/>
                        <xs:attribute type="xs:anyURI" name="WebsiteUrl" use="optional"/>
                        <xs:attribute type="xs:byte" name="FileHost" use="optional"/>
                        <xs:attribute type="ServerType" name="Type" use="optional"/>
                        <xs:attribute type="ServerTypes" name="Types" use="optional"/>
                        <xs:attribute type="xs:string" name="LoginLabel" use="optional"/>
                        <xs:attribute type="xs:string" name="PasswordLabel" use="optional"/>
                        <xs:attribute type="DefaultForTypes" name="DefaultForTypes" use="optional"/> 
                        <xs:attribute type="Bool" name="UploadToTempServer" use="optional"/>  
                        <xs:attribute type="MinVersionType" name="MinVersion" use="optional"/>  
                        <xs:attribute type="xs:string" name="Engine" use="optional"/>
                        <xs:attribute type="xs:string" name="UserAgent" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>